## Deliverable 2. Create a Customer Travel Destinations Map.

In [ ]:
pip install gmaps

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.6001,-73.9662,55.00,84,99,2.35,overcast clouds
1,1,Tiksi,RU,71.6872,128.8694,19.78,84,83,8.48,broken clouds
2,2,Castro,BR,-24.7911,-50.0119,55.29,96,55,7.67,broken clouds
3,3,Kodiak,US,57.7900,-152.4072,37.40,87,90,11.50,moderate rain
4,4,Hobart,AU,-42.8794,147.3294,64.40,42,75,28.77,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Saint George,US,37.1041,-113.5841,70.00,19,1,14.97,clear sky
8,8,Arraial Do Cabo,BR,-22.9661,-42.0278,74.23,64,94,11.50,overcast clouds
9,9,Kihei,US,20.7850,-156.4656,73.40,64,20,10.36,few clouds
14,14,Vaini,TO,-21.2000,-175.2000,77.00,78,20,6.91,few clouds
16,16,Tarakan,ID,3.3000,117.6333,89.60,70,40,6.91,scattered clouds
17,17,Souillac,MU,-20.5167,57.5167,82.40,74,40,12.66,scattered clouds
20,20,La Orilla,MX,17.9833,-102.2333,72.46,84,5,3.51,clear sky
23,23,Bathsheba,BB,13.2167,-59.5167,78.80,73,75,12.66,broken clouds
24,24,Atuona,PF,-9.8000,-139.0333,81.12,75,100,17.90,overcast clouds
25,25,Hasaki,JP,35.7333,140.8333,71.60,83,75,5.75,broken clouds

In [6]:
preferred_cities_df = preferred_cities_df.dropna()

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                228
City                   228
Country                228
Lat                    228
Lng                    228
Max Temp               228
Humidity               228
Cloudiness             228
Wind Speed             228
Current Description    228
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#preferred_cities_df.dropna()

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Saint George,US,70.00,clear sky,37.1041,-113.5841,
8,Arraial Do Cabo,BR,74.23,overcast clouds,-22.9661,-42.0278,
9,Kihei,US,73.40,few clouds,20.7850,-156.4656,
14,Vaini,TO,77.00,few clouds,-21.2000,-175.2000,
16,Tarakan,ID,89.60,scattered clouds,3.3000,117.6333,
17,Souillac,MU,82.40,scattered clouds,-20.5167,57.5167,
20,La Orilla,MX,72.46,clear sky,17.9833,-102.2333,
23,Bathsheba,BB,78.80,broken clouds,13.2167,-59.5167,
24,Atuona,PF,81.12,overcast clouds,-9.8000,-139.0333,
25,Hasaki,JP,71.60,broken clouds,35.7333,140.8333,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
   
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}" 
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   
    # 6e. Make request and retrieve the JSON data from the search. 
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']

In [19]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Saint George,US,70.00,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
8,Arraial Do Cabo,BR,74.23,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
9,Kihei,US,73.40,few clouds,20.7850,-156.4656,Maui Sunset
14,Vaini,TO,77.00,few clouds,-21.2000,-175.2000,Keleti Beach Resort
16,Tarakan,ID,89.60,scattered clouds,3.3000,117.6333,RedDoorz Syariah near Taman Berlabuh Tarakan
17,Souillac,MU,82.40,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
20,La Orilla,MX,72.46,clear sky,17.9833,-102.2333,Baymont by Wyndham Lazaro Cardenas
23,Bathsheba,BB,78.80,broken clouds,13.2167,-59.5167,Atlantis Hotel
24,Atuona,PF,81.12,overcast clouds,-9.8000,-139.0333,Villa Enata
25,Hasaki,JP,71.60,broken clouds,35.7333,140.8333,Hotel Sunrise Choshi

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")
clean_hotel_df;

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Saint George,US,70.00,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
8,Arraial Do Cabo,BR,74.23,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
9,Kihei,US,73.40,few clouds,20.7850,-156.4656,Maui Sunset
14,Vaini,TO,77.00,few clouds,-21.2000,-175.2000,Keleti Beach Resort
16,Tarakan,ID,89.60,scattered clouds,3.3000,117.6333,RedDoorz Syariah near Taman Berlabuh Tarakan
17,Souillac,MU,82.40,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
20,La Orilla,MX,72.46,clear sky,17.9833,-102.2333,Baymont by Wyndham Lazaro Cardenas
23,Bathsheba,BB,78.80,broken clouds,13.2167,-59.5167,Atlantis Hotel
24,Atuona,PF,81.12,overcast clouds,-9.8000,-139.0333,Villa Enata
25,Hasaki,JP,71.60,broken clouds,35.7333,140.8333,Hotel Sunrise Choshi

In [28]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             #max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

In [ ]:
# Save figure
import matplotlib.pyplot as plt
plt.savefig("Vacation_Search/Hotel_listings.png")